<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Computer Science</h1>
            <span>Federal University of Minas Gerais</span>
            <span><address>Belo Horizonte, BR</address><time>2016 to 2018(Expected)</time></span>
        </header>
        <p>
            <em>Dissertation: Detecting traffic incidents towards multiple data sources.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Computer Science</h1>
            <span>Federal University of Viçosa</span>
            <span><address>Florestal, BR</address><time>2012 to 2015</time></span>
        </header>
        <p>
            <em>Mongraph: Development of an autonomic sensor element for wireless sensor networks.</em>
        </p>
    </article>
</section>
