<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineering Intern - FOSS Outreachy in Mozilla- Round 15</h1>
            <span><address>Belo Horizonte, BR</address><time>December 2017 to March 2018</time></span>
        </header>
        <p>Hacking and trying fix bugs in taskcluster-hooks. </p>
    </article>
    <article>
        <header>
            <h1>Research Assistant - Graduate course</h1>
            <span><address>Belo Horizonte, BR</address><time>2016 to Present</time></span>
        </header>
        <p>Graduate in Computer Science. </p>
    </article>
    <article>
        <header>
            <h1>Remote Developer</h1>
            <span><address>Belo Horizonte, BR</address><time>2016 to Present</time></span>
        </header>
        <p>Contributions in open source projects at Mozilla Foundation.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant - Undergraduate course</h1>
            <span><address>Florestal, BR</address><time>2014 to 2015</time></span>
        </header>
        <p>Analysis of an autonomic sensor element model proposed for wireless sensor network,
            using natural computation algorithms.</p>
    </article>
    <article>
        <header>
            <h1>Research Assistant - Undergraduate course</h1>
            <span><address>Florestal, BR</address><time>2013 to 2014</time></span>
        </header>
        <p>Research on real test environments(testbeds) for wireless sensor networks; analysis of
            features and operations to perform implementations on them.</p>
    </article>
</section>
