<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Software engineering - Contributor</h1>
            <span><address>Mozilla, USA</address><time>2016 - 2017</time></span>
        </header>
        <p>
            Contributions in open source projects.
        </p>
    </article>
    <article>
        <header>
            <h1>Coach</h1>
            <span><address>Rails Girls, Belo Horizonte, BR</address><time>2016</time></span>
        </header>
        <p>
            Rails Girls is an event that attempts to empower women through technology, showing that <br/>
            working with software is a real possibility. In that event, I worked as a coach, helping a<br/>
            group of women develop their own application, from the initial idea to the completion of a <br/>
            first functional prototype using the RAILS platform.
        </p>
    </article>
    <article>
        <header>
            <h1>Coach</h1>
            <span><address>Django Girls, Belo Horizonte, BR</address><time>2017</time></span>
        </header>
        <p>
            Django Girls is an event that attempts to empower women through technology, showing that <br/>
            working with software is a real possibility. In that event, I worked as a coach, helping a<br/>
            group of women develop their own application using the Django girls tutorial and Django platform.
        </p>
    </article>
</section>